/* Css Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:0;border:0;margin:0;padding:0;}
input,select{vertical-align:middle}
ol,ul,li{list-style:none;}

*{box-sizing:border-box;}

input{border:none; background:none; color:#898989; outline:none;}
input[type="text"]{height:36px; line-height:36px;}
input[type="submit"]{cursor:hand; cursor:pointer;}

.qFixer:after{display:table; width:100%; height:0 !important; font-size:0  !important; visibility:hidden; clear:both; float:none !important;}
.none{display:none !important;}
.hidden{visibilty:hidden !important;}
.rc{border-radius:16px;}
.lrc{border-radius:5px;}
.left{float:left;}
.right{float:right;}
.sprite{background-image:url(../images/sprite.png); background-repeat:no-repeat;}


#qContainer{}
#qHeader{width:1200px; margin:0 auto; height:65px; background:#fff;}
#qBody{}
#qFooter{}

.qHero{width:100%; position:relative; background-size:cover; background-repeat:no-repeat; background-position:center center;}
.qHeroInner{width:1200px; position:relative; margin:0 auto;}

/* HEADER */
.innerHeader{padding-top:20px;}
.innerHeader .logo{padding:0 80px 0 0;}
.innerHeader .logo a{display:block; width:136px; height:27px; text-indent:-9999px; background:url(../images/logo.png) center center no-repeat; background-size:cover;}
.innerHeader .mainMenu{height:27px; margin-right:25px;}
.innerHeader .mainMenu li{float:left; margin-left:40px; line-height:27px;}
.innerHeader .mainMenu li:first-child{margin-left:0;}

/* SEARCHBOX */
.searchbox{height:32px; width:150px; border:1px solid #d7d7d7; position:relative; padding:0 15px;}
.searchbox input{width:100%; height:32px; line-height:32px;}
.searchbox .btnHolder{position:absolute; top:0; right:0; height:100%; padding:7px 15px 0 0;}
.searchbox .btnSearch{display:block; width:16px; height:16px; background-position:0 0;}

/* LOGIN PAGE */
.home .qHeroInner{height:640px;}
