/* Css Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:0;border:0;margin:0;padding:0;}
input,select{vertical-align:middle}
ol,ul,li{list-style:none;}

.qFixer{display:block; width:100%; height:0 !important; font-size:0  !important; overflow:hidden; visibility:hidden; clear:both; float:none !important;}


/* TEMP CSS */
body{font-family:Arial, Helvetica, sans-serif; font-size:13px;}
body a{color:#000; text-decoration:none; font-size:13px;}
body a:hover{text-decoration:underline;}
body span{font-size:13px;}
body input{border:2px solid #000; background:#fff; height:25px; line-height:25px;}
body textarea{border:2px solid #000; background:#fff; resize:none;}
.pageDefault{margin-top:10px;}
.btnDefault{padding:7px 22px; font-size:14px; line-height:16px; background:#E6E6E6; border:2px solid #000; cursor:pointer; cursor:hand; display:inline-block;}
.btnDefault:hover{background:#fff; text-decoration:none;}
.btnPlus{padding:5px; font-size:32px; height:20px; line-height:20px;}
.rc{border-radius:16px;}
.lrc{border-radius:5px;}
.left{float:left;}
.right{float:right;}
.titleDefault{font-size:18px; font-weight:bold; margin-bottom:20px;}

.commentForm{margin:10px 0;}
.commentForm textarea{width:100%; height:95px; margin:0 0 5px;}
.commentForm a{float:left; margin-right:5px;}

#qContainer{width:1000px; margin:0 auto;}

#qHeader{padding:10px 0 20px; border-bottom:1px solid #ccc;}
#qHeader .logo{float:left; margin-right:40px;}
#qHeader .logo a{font-size:30px; text-decoration:none;}
#qHeader .mainMenu{float:left; padding-top:5px;}
#qHeader .mainMenu li{float:left; margin-right:20px;}
#qHeader .mainMenu li a{font-size:16px;}
#qHeader .searchHolder{float:right; padding-top:5px; width:240px;}
#qHeader .searchHolder .searchbox{border:2px solid #000; position:relative; padding-left:35px;}
#qHeader .searchHolder .searchbox input[type=text]{border:none; width:185px;}
#qHeader .searchHolder .searchbox .btnHolder{position:absolute; top:3px; left:5px;}
#qHeader .searchHolder .searchbox .btnHolder input{border:none; background:url(../images/search.jpg) no-repeat; width:21px; height:21px;}

#qBody{}

#qFooter{}

/* MOVIE LIST */
.pageMovies{}
.pageMovies .movieListHolder.row .movieItem{padding:0 0 15px; margin:0 0 15px; border-bottom:1px solid #e6e6e6;}
.pageMovies .movieListHolder.row .movieItem span{display:block; margin-bottom:10px;}
.pageMovies .movieListHolder.row .movieItem .poster{float:left; margin:0 20px 0 0; width:175px;}
.pageMovies .movieListHolder.row .movieItem .poster img{width:100px;}
.pageMovies .movieListHolder.row .movieItem .title{margin-bottom:15px; line-height: 16px;}
.pageMovies .movieListHolder.row .movieItem .title a{font-size:24px;}

.pageMovies .movieListHolder.grid .movieItem{padding:8px; margin:0 10px 20px 0; background:#E6E6E6; display:inline-block; width:118px; height:300px; vertical-align:top;}
.pageMovies .movieListHolder.grid .movieItem:nth-child(7n){margin-right:0;}
.pageMovies .movieListHolder.grid .movieItem span{display:block; margin-bottom:10px;}
.pageMovies .movieListHolder.grid .movieItem .poster{text-align:center; max-height:240px; overflow: hidden;}
.pageMovies .movieListHolder.grid .movieItem .poster img{max-width:100%; min-height:200px; margin:0 auto;}
.pageMovies .movieListHolder.grid .movieItem .title{margin-bottom:10px; line-height: 16px; overflow:hidden; max-height:50px;}
.pageMovies .movieListHolder.grid .movieItem .runtime, .pageMovies .movieListHolder.grid .movieItem .rating, .pageMovies .movieListHolder.grid .movieItem .genre, .pageMovies .movieListHolder.grid .movieItem .country{display:none;}
/* .pageMovies .movieListHolder.grid .seperator{clear:both; padding:8px 10px; margin-bottom:20px; background:#000; color:#fff;}*/
.pageMovies .movieListHolder.grid .seperator{padding:8px; margin:0 10px 20px 0; background:none; border:8px solid #E6E6E6; display:inline-block; width:102px; height:284px; vertical-align:top;}

.pageMovies .movieListHolder .movieItem .posterImg{ background:url(../back/images/ajax-loader.gif) no-repeat center center; width:100%; height:200px; }
.pageMovies .movieListHolder .movieItem.loaded .posterImg{ background-size:cover; }


.pageMovies .controllers{height:40px;}
.pageMovies .controllers .view{float:right;}
.pageMovies .filters{}
.pageMovies .filters .filterList{}
.pageMovies .filters .filterList > li{position:relative; float:left; width:100px; height:16px;}
.pageMovies .filters .filterList > li > a{}
.pageMovies .filters .filterList > li .submenu{display:none; height:200px; overflow:auto; width:500px; position:absolute; top:15px; left:0; background:#fff; padding:10px; border:1px solid #ddd;}
.pageMovies .filters .filterList > li.active .submenu{display:block;}
.pageMovies .filters .filterList > li .submenu li{width:100px; float: left; margin-bottom:8px;}
.pageMovies .filters .filterList > li .submenu li a.selected{color:#ff0000;}

/* MOVIE DETAIL */
.pageMovie{}
.pageMovie .hero{width:100%; height:225px; background:#bbb;}
.pageMovie .body{}
.pageMovie .body .posArea{margin-top:-155px;}
.pageMovie .body .mainCol{padding-left:20px; width:760px; border-right:1px solid #e6e6e6;}
.pageMovie .body .mainCol .details{margin-bottom:60px;}
.pageMovie .body .mainCol .details .cover{width:175px;}
.pageMovie .body .mainCol .details .text{padding:35px 30px 0; width:520px;}
.pageMovie .body .mainCol .details .text h1{font-size:20px; margin-bottom:10px; font-weight:normal;}
.pageMovie .body .mainCol .details .text .genre{float:left; margin:0 50px 25px 0;}
.pageMovie .body .mainCol .details .text .genre li{float:left; height:15px; line-height:15px; border-left:2px solid #000; padding:0 10px; font-size:12px;}
.pageMovie .body .mainCol .details .text .genre li:first-child{padding-left:0; border-left:none;}
.pageMovie .body .mainCol .details .text .country{float:left; margin:0 0 25px 0;}
.pageMovie .body .mainCol .details .text .country li{float:left; height:15px; line-height:15px; border-left:2px; solid #000; padding:0 10px; font-size:12px;}
.pageMovie .body .mainCol .details .text .country li:first-child{padding-left:0; border-left:none;}
.pageMovie .body .mainCol .details .text .actions{border:2px solid #000; display:inline-block; margin-bottom:30px;}
.pageMovie .body .mainCol .details .text .actions li{float:left;}
.pageMovie .body .mainCol .details .text .actions li a{padding:7px 22px; font-size:14px; line-height:16px; background:#E6E6E6; border:none; border-left:2px solid #000; cursor:pointer; cursor:hand; display:inline-block;}
.pageMovie .body .mainCol .details .text .actions li:first-child a{border-left:none;}
.pageMovie .body .mainCol .details .text .actions li a:hover{background:#fff; text-decoration:none;}
.pageMovie .body .mainCol .details .text .plot{margin-bottom:20px;}
.pageMovie .body .mainCol .details .text .cast{}
.pageMovie .body .mainCol .details .text .cast li{clear:both; margin-bottom:10px;}
.pageMovie .body .mainCol .details .text .cast li.topBilled{float:left; margin-right:10px; clear:none; margin-bottom:30px;}
.pageMovie .body .mainCol .details .text .cast li.topBilled img{border:2px solid #000;}
.pageMovie .body .mainCol .details .text .cast li span.actor{display:inline-block; width:200px;}
.pageMovie .body .mainCol .details .text .cast li span.actor a:hover{text-decoration:underline;}
.pageMovie .body .mainCol .details .text .cast li span.character{color:#555;}
.pageMovie .body .mainCol .social{width:700px;}
.pageMovie .body .sidebar{width:190px; padding-top:35px;}
.pageMovie .body .sidebar .btnSet{margin-bottom:55px;}
.pageMovie .body .sidebar .lists{}
.pageMovie .body .sidebar .lists .sectionTitle{font-weight:bold; display:block; margin-bottom:20px;}
.pageMovie .body .sidebar .lists li{margin-bottom:7px;}

/* ACTOR DETAIL */
.pageActor{padding-top:30px;}
.pageActor .cover{width:175px; border:2px solid #000;}
.pageActor .cover img{width:100%;}
.pageActor .detail{padding-top:10px; width:785px;}
.pageActor .detail h1{font-size:20px; margin-bottom:10px; font-weight:normal;}
.pageActor .detail .position{margin-bottom:20px;}
.pageActor .detail .position li{float:left; height:15px; line-height:15px; border-left:2px solid #000; padding:0 10px; font-size:12px;}
.pageActor .detail .position li:first-child{padding-left:0; border-left:none;}
.pageActor .detail .btnSet{margin-bottom:60px;}
.pageActor .detail .movies{padding-top:15px; border-top:1px solid #e6e6e6;}
.pageActor .detail .movies .featured{margin:10px 0 50px;}
.pageActor .detail .movies .featured li{float:left; margin-right:10px; width:145px; height:220px; background:#eee;}
.pageActor .detail .movies .featured li a{width:145px; height:220px; display:block;}
.pageActor .detail .movies .filmography li{clear:both; margin-bottom:10px;}
.pageActor .detail .movies .filmography li span.year{display:inline-block; width:50px; float:left;}
.pageActor .detail .movies .filmography li span.movie{display:inline-block; width:300px; float:left;}
.pageActor .detail .movies .filmography li span.movie a:hover{text-decoration:underline;}
.pageActor .detail .movies .filmography li span.character{color:#555; float:left;}