.pageLogin {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  position:absolute;
  width:100%;
  height:100%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.floatFixer{float:none !important; clear:both !important; height:0 !important; width:100% !important; padding:0 !important; margin:0 !important; font-size:0 !important;}
.noData{text-align:center;}
nav{text-align:center;}
.posterGrid a{display:block; width:62px; min-height:100px; background:#ccc; border:1px solid #aaa;}

/* Movie Detail */
.pageMovie .headHolder{margin-bottom:20px;}
.pageMovie .headHolder .posterHolder{min-width:150px; background:#ccc; border:1px solid #aaa; height:250px; float:left; margin-right:25px; position:relative; z-index:5;}
.pageMovie .headHolder .posterHolder img{height:250px; cursor:pointer; cursor:hand;}
.pageMovie .headHolder .posterHolder img.big{position:absolute; top:0; left:0; height:auto;}
.pageMovie .headHolder h2{float:left;}
.pageMovie .headHolder .btn-group{float:right;}
.input-group{margin-bottom:15px;}
.input-group-addon:first-child{min-width:150px; text-align:left;}
.input-group textarea{height:100px !important; resize:none;}
.input-group.groupMulti select{height:200px !important;}
.input-group.groupMulti .selections{min-width:200px; vertical-align:top;}
.input-group.groupMulti .selections small{display:block; text-align:left;}
.input-group .castHolder{height:auto;}
.input-group .castHolder .list-group-item .actor{display:inline-block; width:300px;}