.pageLogin {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  position:absolute;
  width:100%;
  height:100%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.floatFixer{float:none !important; clear:both !important; height:0 !important; width:100% !important; padding:0 !important; margin:0 !important; font-size:0 !important;}
.noData{text-align:center;}
nav{text-align:center;}
.posterGrid a{display:block; width:62px; min-height:100px; background:#ccc; border:1px solid #aaa;}
h2.sub-header{margin:10px 0 20px;}
.alignCenter{text-align:center;}
.none{display:none;}

.hider{position:fixed; top:0; left:0; width:100%; height:100%; z-index:999; background:#000; opacity:.5;}
.ajx-process{background:url(../images/ajax-process.gif) center center no-repeat; position:fixed; top:50%; left:50%; width:32px; height:32px; z-index:999; margin:-16px 0 0 -16px; z-index:9999;}

.process .hider, .process .ajx-process{display:block !important;}

/* Movie Detail */
.pageMovie .headHolder{margin-bottom:20px;}
.pageMovie .headHolder .posterHolder{min-width:150px; background:#ccc; border:1px solid #aaa; height:450px; float:left; margin-right:25px; position:relative; z-index:5;}
.pageMovie .headHolder .posterHolder img{height:250px; cursor:pointer; cursor:hand;}
.pageMovie .headHolder .posterHolder img.big{position:absolute; top:0; left:0; height:auto;}
.pageMovie .headHolder .topHolder{float:left; width:840px;}
.pageMovie .headHolder .topHolder .covers{margin-top:15px;}
.pageMovie .headHolder .topHolder .covers ul{list-style:none; padding:0; margin:0;}
.pageMovie .headHolder .topHolder .covers li{float:left; margin:0 40px 10px 0; width:150px; height:150px; position:relative; }
.pageMovie .headHolder .topHolder .covers li.hover{z-index:99;}
.pageMovie .headHolder .topHolder .covers li span{display:block; margin-top:5px; text-align:center;}
.pageMovie .headHolder .topHolder .covers li .coverHover{position:absolute; left:-253px; top:100px; width:500px; border:3px solid #3399FF; background:#fff; text-align:center;}
.pageMovie .headHolder .topHolder .covers li:nth-child(4n+1) .coverHover, .pageMovie .headHolder .topHolder .covers li:first-child .coverHover{left:0;}
.pageMovie .headHolder .topHolder .covers li:nth-child(4n) .coverHover{right:0; left:auto;}
.pageMovie .headHolder .topHolder .covers li .coverHover .dims{padding:5px 0; background:#000; color:#fff;}
.pageMovie .headHolder .topHolder .covers li .coverHover img{max-width:100%;}
.pageMovie .headHolder .topHolder .covers li .coverHover .btn-group{display:inline-block;}
.pageMovie .headHolder .topHolder .covers .coversNav{display:none; text-align:center;}
.pageMovie .headHolder .topHolder .covers.called .coversNav{display:block;}
.pageMovie .headHolder .btnHolder{float:right;}
.pageMovie .headHolder .btnHolder .btnCovers{margin-right:5px;}
.input-group{margin-bottom:15px;}
.input-group-addon:first-child{min-width:150px; text-align:left;}
.input-group textarea{height:100px !important; resize:none;}
.input-group.groupMulti select{height:200px !important;}
.input-group.groupMulti .selections{min-width:200px; vertical-align:top;}
.input-group.groupMulti .selections small{display:block; text-align:left; margin-bottom:3px;}
.input-group .castHolder{height:auto;}
.input-group .castHolder .list-group-item .actor{display:inline-block; width:300px;}

#mvs_cover_mn{height:45px;}
.mnCover .btn-group{width:185px;}
.googleSearch{margin-bottom:20px;}

/* SEARCH SUGGEST */
.movie-search{width:500px; position:relative;}
.movie-search ul{list-style:none; padding:10px; position: absolute;}
.movie-search ul .row{margin:0;}
.movie-search .ui-autocomplete{position:absolute !important; top:34px !important; left:0; background:#f3f3f3; border:1px solid #c8c8c8; width:500px; padding:15px 0;}
.ui-autocomplete-category.movie, .ui-autocomplete-category.user{display:none;}
.ui-menu-item{padding:0 15px;}
.ui-menu-item:hover{background:#fff;}
.ui-menu-item:hover .row-movie{}
.row-movie{border-bottom:1px solid #dadada; padding:2px 1px 3px;}
.row-movie a{display:block;}
.row-movie figure{display:inline-block; width:30px; height:44px; background-size:cover; background-position:center center; margin-right:10px;}
.row-movie .rowRight{padding-top:8px; display:inline-block; max-width:425px;}
.row-movie .rowRight .title{font-size:15px; font-weight:600; color:#222; display:block;}
.row-movie a:visited .title, .row-movie a:active .title, .row-movie a:focus .title{color:#666;}
.row-movie .rowRight small{font-size:14px; color:#888;}

.ui-autocomplete-category.star, .ui-autocomplete-category.starCompare{margin:8px 15px; border-top:1px solid #aaa;}
.ui-autocomplete-category.star h2, .ui-autocomplete-category.starCompare h2{display:none;}
.ui-helper-hidden-accessible{display:none;}

.row-star{border-bottom:1px solid #dadada; padding:1px; min-height:44px;}
.row-star .rowLeft{margin-right:10px; display:inline-block; width:30px; height:41px; background-size:cover; background-position:center center; background-repeat:no-repeat;}
.row-star .rowRight{padding-top:15px;}
.row-star .rowRight .title{font-size:15px; color:#222;}
.row-star a, .row-star button{display:block;}

.userSearchHolder .suggestions{width:300px !important;}
.userSearchHolder .ui-autocomplete{width:300px !important; top:1px !important;}
.row-user{border-bottom:1px solid #dadada; padding:2px 1px 3px;}
.row-user a{display:block;}
.row-user figure{display:inline-block; width:30px; height:41px; background-size:cover; background-position:center center; margin-right:10px;}
.row-user .rowRight{padding-top:8px;}
.row-user .rowRight .title{font-size:15px; font-weight:600; color:#222;}
.row-user a:visited .title, .row-user a:active .title, .row-user a:focus .title{color:#666;}

.row.rowSep{display:none;}

/* Settings */
.NavHolder{margin-bottom:40px;}

.btnThumbGenerate{float:right;}
.btnThumbGenerate .btn{}
.pageThumbs .settingsHolder{margin-bottom:15px;}

.settingsHolder.generating .btnGen{display:none;}

.pgaeSlugs .list-group{width:500px;}
.pgaeSlugs .list-group .list-group-item > span{cursor:pointer; cursor:hand;}
.pgaeSlugs .list-group .list-group-item .ajax-loader{float:right; display:none;}
.pgaeSlugs .list-group .list-group-item.generating .ajax-loader{display:inline;}
.pgaeSlugs .list-group .list-group-item.generating span.badge{display:none;}

.pageRate .list-group{width:500px;}
.pageRate .list-group .list-group-item > span{cursor:pointer; cursor:hand;}
.pageRate .list-group .list-group-item .ajax-loader{float:right; display:none;}
.pageRate .list-group .list-group-item.generating .ajax-loader{display:inline;}
.pageRate .list-group .list-group-item.generating span.badge{display:none;}


/* Page Actor */
.pageActors{}
.pageActors .topLeft{float:left; width:290px;}
.pageActors .topLeft a{display:inline-block; position:relative;}
.pageActors .topLeft a.proc::after{content:""; display:block; width:100%; height:100%; position:absolute; top:0; left:0; background:url(../images/ajax-process.gif) center center no-repeat #000; opacity:0.5;}
.pageActors .topRight{float:right; width:845px;}
.pageActors .topRight ul{margin:0;}
.pageActors .topRight .photos li{float:left; margin:0 10px 10px 0; list-style:none;}
.pageActors .topRight .photos li a{width:90px; height:123px; display:block; background-size:cover; background-position:center center; position:relative; cursor:hand; cursor:pointer;}
.pageActors .topRight .photos li a span{position:absolute; bottom:0; left:0; width:100%; background:#000; text-align:center; color:#fff; font-size:11px;}
.pageActors .table-responsive{margin-top:50px;}